h1 {
  text-align: center;
}

.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  font-size: 5rem;
  text-align: center;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px;
}
